<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link href="/static/med.png" rel="icon">
            <link href="/static/styles.css" rel="stylesheet">
            <title>Sorry</title>

        </head>

        <body>

            <img alt="{{ top }}" class="border" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://cdn130.picsart.com/289975941006211.png?r1024x1024" title="{{ top }}">

        </body>

        <footer id="foot">Brought To You By @Grandson</footer>


    </html>