<!DOCTYPE html>
    <html>
        <head>

            <link href="/static/med.png" rel="icon">
            <link href="/static/styles.css" rel="stylesheet">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>Welcome</title>

        </head>

        <body>

            <div id="container">
                <svg viewBox="0 0 500 250">
                  <path id="curve" fill="transparent" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" />
                  <text width="500">
                    <textPath xlink:href="#curve">
                      Take Your Meds
                    </textPath>
                  </text>
                </svg>
            </div>


                <button id="but" onclick="location.href='/login'">Log In</button>
                <button id="but2" onclick="location.href='/register'">Register</button>


        </body>

        <footer id="foot">Brought To You By @Grandson</footer>


    </html>